Import Pandas library

In [188]:
import pandas as pd

Read the WikiPedia Page using read_html

In [189]:
dList = pd.read_html ("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

This is a list of 3 lists, we need the first list [0]

In [180]:
df = pd.DataFrame(dList[0])
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

Get the columns title from the first row

In [181]:
df.columns=df.iloc[0]
df = df.reindex(df.index.drop(0)).reset_index(drop=True)
df.columns.name = None

Remove all records that has not Borough assigned to them

In [182]:
df = df[df.Borough != "Not assigned"]

Now, group by post code and Borough, and aggregate the Neighbourhood using join() method

In [197]:
dfPost=df.groupby(['Postcode','Borough']).Neighbourhood.unique().apply(lambda x: ', '.join(x)).reset_index()
dfPost.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [ ]:
Get the shape

In [185]:
dFinal.shape

(103, 3)

In [201]:
dfCor=pd.read_csv("Geospatial_Coordinates.csv")
dfCor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [205]:
dfMerged=dfPost.merge(dfCor,left_on='Postcode', right_on='Postal Code', how='outer')
dfMerged.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [218]:
dfFinal=dfMerged.drop('Postal Code', axis = 1)

In [219]:
dfFinal.shape

(103, 5)

In [220]:
dfFinal.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476